/* 
font-family: 'latobold';
font-family: 'latoitalic';
font-family: 'lato_lightregular';
font-family: 'latoregular';
*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
.header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
}
.header .menu_nav {
  display: flex;
  align-items: center;
  max-width: 630px;
  justify-content: space-around;
  margin: 0 auto;
}
.header a {
  text-transform: uppercase;
  text-decoration: none;
  color: #4d4959;
  font-family: 'latobold';
  font-size: 13px;
}
.header a:hover {
  text-decoration: none;
  color: #64c29e;
}
.header .logo {
  width: 100%;
}
.block_head {
  background: url(../images/Layer-7.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
.info_block,
.info_block3 {
  padding: 115px 0 140px 0;
}
.info_block .content,
.info_block3 .content {
  text-align: center;
  width: 1080px;
  margin: 0 auto;
}
.info_block .h2,
.info_block3 .h2 {
  font-family: 'latobold';
  font-size: 18px;
  color: #353738;
}
.info_block .paragraph,
.info_block3 .paragraph {
  font-family: 'latoregular';
  margin-top: 30px;
  color: #8c8e90;
  font-size: 18px;
}
.info_block .icon,
.info_block3 .icon {
  margin-bottom: 31px;
}
.gallery_1 {
  max-width: 1580px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 200px 400px 200px 400px 200px;
}
.gallery_1 .box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery_1 .box2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery_1 .box3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery_1 .box4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery_1 .box5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.gallery_1 .box6 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery_1 .box7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 7;
}
.gallery_1 .box8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.gallery_1 .box9 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
.gallery_1 .box10 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}
.gallery_1 .img_gallery1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_1 .box1,
.gallery_1 .box6,
.gallery_1 .box7 {
  position: relative;
}
.gallery_1 .logoinbox {
  position: absolute;
  left: 40%;
  top: 45%;
  z-index: 1;
}
.gallery_1 .logoinbox2 {
  position: absolute;
  left: 30%;
  top: 45%;
  z-index: 1;
}
.gallery_1 .box2,
.gallery_1 .box4,
.gallery_1 .box8 {
  padding: 59px;
  text-align: center;
}
.gallery_1 .box3,
.gallery_1 .box5,
.gallery_1 .box9 {
  position: relative;
}
.gallery_1 .bg {
  position: absolute;
  top: 0;
  left: 47%;
  z-index: 1;
}
.gallery_1 h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  color: #353738;
  font-family: 'latobold';
  padding-top: 28px;
}
.gallery_1 p {
  font-size: 16px;
  color: #848789;
  text-align: justify;
}
.block_buttom {
  background: #282f35;
  padding: 75px;
  text-align: center;
}
.block_buttom .shope_button {
  text-transform: uppercase;
  padding: 18px 60px;
  border: 1px solid #94979a;
  background: none;
  color: #fff;
  font-size: 14px;
  font-family: 'latobold';
  letter-spacing: 3px;
}
.block_buttom .shope_button:hover {
  border: 1px solid #94979a;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-family: 'latobold';
  letter-spacing: 3px;
}
.gallery_2 {
  display: grid;
  max-width: 1580px;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 270px);
}
.gallery_2 .item_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery_2 .item_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery_2 .item_3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery_2 .item_4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery_2 .item_5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery_2 .item_6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery_2 .item_7 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery_2 .item_8 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery_2 .gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_2 .a_gallery {
  width: 100%;
  height: 100%;
}
.info_block3 h3 {
  color: #848789;
  font-family: 'latoitalic';
  padding: 33px 0;
  font-size: 24px;
}
.info_block3 .form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info_block3 .li_email {
  width: 400px;
  height: 66px;
  padding: 23px;
  border: 1px solid #d3d7d9;
}
.info_block3 .li_email:focus {
  outline: 1px solid #64c29e;
}
.info_block3 .li_buttom {
  font-family: 'lato_lightregular';
  color: #fff;
  background: #64c29e;
  padding: 0 35px;
  height: 66px;
  font-size: 21px;
  border: none;
}
.info_block3 .li_buttom:hover {
  background: #fff;
  color: #64c29e;
  outline: 1px solid #64c29e;
}
.clear {
  padding-bottom: 250px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f7f7f7;
  height: 250px;
  padding: 100px 0;
}
.footer .b-box {
  text-align: center;
}
.footer .b-box .links {
  margin-left: 15px;
}
.footer .b-box .links .vector {
  margin-top: 10px;
}
.footer .text {
  text-align: left;
}
.footer .text h5 {
  font-size: 16px;
  font-family: 'latobold';
  color: #8c8e90;
}
.footer .text p {
  margin: 0;
  font-family: 'latoitalic';
  font-size: 14px;
  color: #8c8e90;
}
.footer .one_p {
  display: inline;
  margin-right: 10px;
  font-family: 'latoitalic';
  font-size: 14px;
  color: #8c8e90;
}
