/* 
font-family: 'latobold';
font-family: 'latoitalic';
font-family: 'lato_lightregular';
font-family: 'latoregular';
*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.container {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
}
.block_head {
  background: url(../images/Layer-7.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
.info_block {
  padding: 115px 0 140px 0;
}
.info_block .content {
  text-align: center;
  width: 1080px;
  margin: 0 auto;
}
.info_block .h2 {
  font-family: 'latobold';
  font-size: 18px;
  color: #353738;
}
.info_block .paragraph {
  font-family: 'latoregular';
  margin-top: 30px;
  color: #8c8e90;
  font-size: 18px;
}
.info_block .icon {
  margin-bottom: 31px;
}
.content_block1 .container {
  max-width: 1580px;
  padding: 0;
}
.content_block1 .container .row,
.content_block1 .container .row2,
.content_block1 .container .row3 {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.content_block1 .container .row2 {
  flex-direction: row-reverse;
}
.content_block1 .box1 {
  flex: 1;
  position: relative;
}
.content_block1 .box1 .icon_logo {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 45%;
}
.content_block1 .box2 {
  flex: 1;
}
.content_block1 .box2 .mincontent:after {
  content: '';
  position: absolute;
  background: #d7d7d7;
  width: 50px;
  height: 1px;
  left: 45%;
}
.content_block1 .box2 .mincontent {
  padding: 66px 66px 0;
  text-align: center;
  position: relative;
}
.content_block1 .box2 .mincontent .h2 {
  font-family: 'latobold';
  font-size: 18px;
  color: #353738;
  text-transform: uppercase;
}
.content_block1 .box2 .mincontent .paragraph {
  font-family: 'latoregular';
  color: #8c8e90;
  font-size: 16px;
  text-align: justify;
  padding-bottom: 40px;
}
.content_block1 .box2 .mincontent .icon {
  margin-bottom: 24px;
}
.content_block1 .box-2 {
  flex: 1;
}
.content_block1 .box-3 {
  flex: 1;
}
.content_block1 .box-1 {
  flex: 1;
  position: relative;
}
.content_block1 .box-1 .icon_logo {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 30%;
}
.block_buttom {
  background: #282f35;
  padding: 75px;
  text-align: center;
}
.block_buttom .shope_button {
  text-transform: uppercase;
  padding: 18px 60px;
  border: 1px solid #94979a;
  background: none;
  color: #fff;
  font-size: 14px;
  font-family: 'latobold';
  letter-spacing: 3px;
}
.block_buttom .shope_button:hover {
  border: 1px solid #94979a;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-family: 'latobold';
  letter-spacing: 3px;
}
