/* 
font-family: 'latobold';
font-family: 'latoitalic';
font-family: 'lato_lightregular';
font-family: 'latoregular';
*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.all-container {
  max-width: 1150px;
  margin: 0 auto;
}
.block_head {
  background: url(../images/Layer-7.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
.info_block,
.info_block3 {
  padding: 115px 0 140px 0;
}
.info_block .content,
.info_block3 .content {
  text-align: center;
  width: 1080px;
  margin: 0 auto;
}
.info_block .h2,
.info_block3 .h2 {
  font-family: 'latobold';
  font-size: 18px;
  color: #353738;
}
.info_block .paragraph,
.info_block3 .paragraph {
  font-family: 'latoregular';
  margin-top: 30px;
  color: #8c8e90;
  font-size: 18px;
}
.info_block .icon,
.info_block3 .icon {
  margin-bottom: 31px;
}
.grid-block1 {
  display: grid;
  width: 1580px;
  grid-template-columns: 1fr 516px 516px;
  grid-template-rows: 599px 599px 599px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid red;
}
.grid-block1 .fon {
  width: 100%;
  height: 100%;
}
.grid-block1 .fon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.item1 {
  grid-column: span 2;
}
.item4 {
  grid-column: span 2;
}
.min_content {
  padding: 25px 0;
  text-align: center;
  position: relative;
}
.min_content .icon {
  padding-bottom: 28px;
}
.min_content .min_h3 {
  font-size: 18px;
  color: #353738;
  text-transform: uppercase;
  font-family: 'latobold';
  letter-spacing: 2px;
}
.min_content p {
  text-align: justify;
  font-size: 16px;
  font-family: 'latoregular';
  color: #8c8e90;
  position: relative;
  padding: 26px 0 40px 0;
}
.min_content p::after {
  content: '';
  position: absolute;
  left: 45%;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: #d7d7d7;
}
.block_buttom {
  background: #282f35;
  padding: 75px;
  text-align: center;
}
.block_buttom .shope_button {
  text-transform: uppercase;
  padding: 18px 60px;
  border: 1px solid #94979a;
  background: none;
  color: #fff;
  font-size: 14px;
  font-family: 'latobold';
  letter-spacing: 3px;
}
.block_buttom .shope_button:hover {
  border: 1px solid #94979a;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-family: 'latobold';
  letter-spacing: 3px;
}
.gallery_2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 270px);
}
.gallery_2 .item_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery_2 .item_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery_2 .item_3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery_2 .item_4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery_2 .item_5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery_2 .item_6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery_2 .item_7 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery_2 .item_8 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery_2 .gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info_block3 h3 {
  color: #848789;
  font-family: 'latoitalic';
  padding: 33px 0;
  font-size: 24px;
}
.info_block3 .form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info_block3 .li_email {
  width: 400px;
  height: 66px;
  padding: 23px;
  border: 1px solid #d3d7d9;
}
.info_block3 .li_email:focus {
  outline: 1px solid #64c29e;
}
.info_block3 .li_buttom {
  font-family: 'lato_lightregular';
  color: #fff;
  background: #64c29e;
  padding: 0 35px;
  height: 66px;
  font-size: 21px;
  border: none;
}
.info_block3 .li_buttom:hover {
  background: #fff;
  color: #64c29e;
  outline: 1px solid #64c29e;
}
.clear {
  padding-bottom: 250px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f7f7f7;
  height: 250px;
  padding: 100px 0;
}
.footer .b-box {
  text-align: center;
}
.footer .b-box .links {
  margin-left: 15px;
}
.footer .b-box .links .vector {
  margin-top: 10px;
}
.footer .text {
  text-align: left;
}
.footer .text h5 {
  font-size: 16px;
  font-family: 'latobold';
  color: #8c8e90;
}
.footer .text p {
  margin: 0;
  font-family: 'latoitalic';
  font-size: 14px;
  color: #8c8e90;
}
.footer .one_p {
  display: inline;
  margin-right: 10px;
  font-family: 'latoitalic';
  font-size: 14px;
  color: #8c8e90;
}
